*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../assets/Chimp\ Background.jpg');
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#left-panel {
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-panel {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    border: .25vh solid grey;
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    transform: rotate(270deg);
    /* gap: 1vmin; */
}

.whitePawn {
    transform: rotate(90deg);
}

.blackPawn {
    transform: rotate(90deg);
}

.square {
    font-size: 6vh;
    text-align: center;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

#new-game-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .right-panel-item {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #game-title {
      font-size: 64px;
      color: white;
  }

  #scoreboard {
      font-size: 48px;
      color: white;
      display: flex;
      flex-direction: column;
  }