*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #283739;
    font-family: 'Happy Monkey', cursive;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#left-panel {
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-panel {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    transform: rotate(270deg);
}

.whitePawn {
    transform: rotate(90deg);
    width: 85%;
}

.blackPawn {
    transform: rotate(90deg);
    width: 85%;
}

.piece-img {
    width: 100%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#new-game-btn {
    background-color: #2c5d63;
    border: none;
    color: #f7eebb;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    cursor: pointer;
  }


  .right-panel-item {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #game-title {
      font-size: 72px;
      color: #a9c52f;
  }

  #scoreboard {
      font-size: 48px;
      color: #a9c52f;
      display: flex;
      flex-direction: column;
  }

  #stanley-logo {
      width: 5vw;
  }

  #stanley-logo-container {
      margin: 1vw;
  }

  #title-and-logo-container {
      display: flex;
      align-items: center;
  }