#board {
    border: .25vh solid grey;
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    /* gap: 1vmin; */
}

#board div {
    /* border-radius: 50%; */
    border: 1px solid grey;
}